{% extends 'base.html' %}

{% block content %}
<h1>Update <span class="teal-text">{{ event.name }}</span></h1>
<form action="">
    {% csrf_token %}
    {{ form.as_table }}

    <input type="submit" value="Submit" class="btn">
</form>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        form: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    const ministryEl = document.getElementById('id_ministry');
    M.FormSelect.init(ministryEl);
</script>
    
{% endblock content %}
    