{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ member.name }}</span>
        <p>Email: {{ member.email }}</p>
    </div>

    <div class="card-action">
        <a href="{% url 'members_update' member.id %}">Edit</a>
        <a href="{% url 'members_delete' member.id %}">Delete</a>
    </div>

</div>
    
{% endblock content %}


<div class="card">
    <div class="card-content">
        <span class="card-title">{{ ministry.name }}</span>
        <p>Team Lead: {{ ministry.lead }}</p>
        <p>Description: {{ ministry.description }}</p>
        <p>Members: {{ ministry.number_of_members }}</p>
    </div>

    <div class="card-action">
        <a href="{% url 'ministries_update' ministry.id %}">Edit</a>
        <a href="{% url 'ministries_delete' ministry.id %}">Delete</a>
    </div>
</div>