{% extends 'base.html' %}

{% block content %}

<h1>Ministry List</h1>


{% for ministry in ministries  %}
    <div class="card">
        <a href="{% url 'detail' ministry.id %}">
        <div class="card-content">
            <span class="card-title">{{ ministry.name }}</span>
            <p>Team Lead: {{ ministry.lead }}</p>
            <p>Description: {{ ministry.description }}</p>
            <p>Members: {{ ministry.number_of_members }}</p>
        </div>
        </a>
    </div>
{% endfor %}
    
{% endblock %}
    